/* Genral Styling */
li , ul {
    list-style-type: none;
}
#sortingIndicator {
    color: red;
}
tbody > tr:hover{
  background-color: rgb(64, 218, 224);
}
footer{
color: white;
text-align: center;
}



/* following classes and id selectors are
named werid to ensure bootstrap does not recognize as
I was having a hard time implementing it */

/* drop content button */
.aDropdown {
  background-color: var(--bs-primary) ;
  position: relative;

}

/* The drop content wrapper */
.aDropdownContent {
  display: none;
  position: absolute;
  background-color: var(--bs-primary) ;
  min-width: 200px;
  z-index: 1;
}

 /* styling the link */
.aDropdownContent a {
  color: black;
  text-decoration: none;
  padding: 10px;
  display: block;
}

/* Showing the menu when you hover over the button */
.aDropdown:hover .aDropdownContent {
  display: block;
}

